body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  color: #222;
  margin: 0;
  padding: 20px;
}

/* contenedor del video */
.video-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  margin: 20px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  overflow: hidden;
}

/* video responsivo */
.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
